*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(177, 199, 177);
}
.container{
    margin: 1rem;
}
.offer-container{
    overflow: hidden;
    height:auto;
    padding:0.5rem;
    width: 600px;
    border-radius: 7px;
    box-shadow: 0 2px 7px;
    background-color: white;
}
.offer-container h2{
    text-align: center;
    padding-top: 0.5rem;
    font-family: arial;
    letter-spacing: 1px;
    color: hsl(210,70%,40%);
}
.shoe-container{
overflow: hidden;
width: 400px;
margin-left: auto;
margin-right: auto;
background-color:burlywood;
height: 200px;
border-radius: 7px;
box-shadow: 0 2px 7px;
}
.shoe-container img{
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
    border-radius: 7px;
    box-shadow: 0 2px 6px;
    height: 96%;
}
.offer-ind-container{
    overflow: hidden;
    width: 80px;
    margin-left: auto;
    height:80px;
    background-color: white; 
}
.offer-ind-container img{
    width: 100%;
    animation:animate 2s ease-in-out infinite;
    height: 100%;
}
@keyframes animate{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.06,1.06);
    }
}



.off-name-container{
    display: flex;
    flex-wrap: wrap;
align-items: center;
    justify-content:center;
    width: 100%;
    height: 100px;
    overflow: hidden;

}
.off-name-container p{
    margin-left: auto;
    color: hsl(210,60%,30%);
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    border-bottom: 2px dotted brown;
}
h4{
    text-align: center;
    width: 100%;
    padding-bottom: 0.5rem;
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(221, 131, 13);
}

.timer-container{
    padding-top: 1rem;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: hidden;
    height: 100px;
    justify-content:center;
    align-items: center;
}
.cont{
    border-radius: 3px;
    box-shadow: 0 2px 4px;
    text-align: center;
    margin: auto;
}
.cont:nth-child(1){
    height: 60px;
    width: 60px;
    background-color: hsl(210,60%,30%);
    margin-right: 0.5rem;
}

.cont:nth-child(2){
    height: 60px;
    width: 60px;
    background-color: hsl(210,60%,30%);
    margin-right: 0.5rem;
}

.cont:nth-child(3){
    height: 60px;
    width: 60px;
    background-color: hsl(210,60%,30%);
    margin-right: 0.5rem;
}
.cont:nth-child(4){
    height: 60px;
    width: 60px;
    background-color: hsl(210,60%,30%);
    margin-right: 0.5rem;
}

.time{
    display: block;
    font-size: 35px;
    color: hsl(210,50%,90%);
    font-family: arial;
    letter-spacing: 1px;
}
.art{
    display: block;
    font-size: 18px;
    color: hsl(210,50%,90%);
    font-family: arial;
    letter-spacing: 0.8px;
}

